<% layout('./layouts/boilerplate') -%>
    <!-- <h1 class="d-flex justify-content-center my-4">Edit Campground</h1> -->

    <div class="row justify-content-center pt-2">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">Update Campground</h5>
                    <form class="needs-validation" novalidate
                        action="/campgrounds/<%= campground._id %>/edit?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <div class="form-group mb-2">
                            <label for="title">Title</label>
                            <input required type="text" name="title" id="title" class="form-control"
                                value="<%= campground.title %>">
                        </div>
                        <div class="form-group mb-2">
                            <label for="locat">Location</label>
                            <input required class="form-control" type="text" name="location" id="locat"
                                value="<%= campground.location %>">
                        </div>
                        <div class="form-group mb-2">
                            <label for="price">Price (R)</label>
                            <input required class="form-control" type="text" name="price" id="price"
                                value="<%= campground.price %>">
                        </div>
                        <div class="form-group mb-2">
                            <label for="descrip">Description</label>
                            <textarea required class="form-control" type="text" name="description"
                                id="descrip"><%= campground.description %></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <label for="formFileSm" class="form-label">Add Images</label>
                            <input class="form-control form-control-sm" name="image" multiple id="formFileSm"
                                type="file">
                        </div>
                        <div class="form-group row justify-content-center mb-2">
                            <% campground.images.forEach(function(img, i){ %>
                                <div class="col-2">
                                    <img src="<%= img.thumbnail %> " class="img-thumbnail" alt="">
                                    <div class="form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="Img-<%=i%>"
                                            name="deleteImages[]" value="<%=img.filename%>">
                                        <label for="Img-<%=i%>">Delete? </label>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <div class="row">
                            <button class="btn btn-info text-light mt-2 justify-content-center">Update
                                Campground</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center my-3">
        <div class="col-md-7 col-lg-6">
            <a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
        </div>
    </div>